/* LESS Variables
-------------------------*/
.section-small {
  margin: 20px auto;
}
.section-small > h1,
.section-small > h2,
.section-small > h3,
.section-small > h4,
.section-small > h5,
.section-small > h6 {
  margin: 20px 0 10px;
}
.section-base {
  margin: 40px auto;
}
.section-base > h1,
.section-base > h2,
.section-base > h3,
.section-base > h4,
.section-base > h5,
.section-base > h6 {
  margin: 30px 0 10px;
}
.section-large {
  margin: 60px auto;
}
.section-large > h1,
.section-large > h2,
.section-large > h3,
.section-large > h4,
.section-large > h5,
.section-large > h6 {
  margin: 40px 0 10px;
}
.margin-small {
  margin: 10px 0;
}
.margin-base {
  margin: 20px 0;
}
.margin-large {
  margin: 30px 0;
}
.margin-top-small {
  margin-top: 10px;
}
.margin-top-base {
  margin-top: 20px;
}
.margin-top-large {
  margin-top: 30px;
}
.margin-bottom-small {
  margin-bottom: 10px;
}
.margin-bottom-base {
  margin-bottom: 20px;
}
.margin-bottom-large {
  margin-bottom: 30px;
}
.padding-top-small {
  padding-top: 10px;
}
.padding-top-base {
  padding-top: 20px;
}
.padding-top-large {
  padding-top: 30px;
}
.padding-bottom-small {
  padding-bottom: 10px;
}
.padding-bottom-base {
  padding-bottom: 20px;
}
.padding-bottom-large {
  padding-bottom: 30px;
}
.color-success {
  color: #20bf00;
}
.color-info {
  color: #67b8de;
}
.color-warning {
  color: #fca600;
}
.color-danger {
  color: #bf0000;
}
/* General Styles
-------------------------*/
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
img {
  max-width: 100%;
}
a {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
  color: #444444;
  line-height: 1.3;
  font-weight: bold;
}
h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1em;
}
.lead {
  font-size: 1.3em;
}
ul {
  list-style: square;
  padding-left: 15px;
}
/* Navigation
-------------------------*/
.nav > li > a {
  padding: 0;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: transparent;
}
.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -205px;
  width: 250px;
  height: 100%;
  font-weight: bold;
  border-radius: 0;
  background: #333333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar.move-in {
  left: 0;
}
.navbar a {
  color: #aaa;
}
.navbar a:hover {
  color: #fff;
}
.navbar-nav {
  float: none;
  margin: 0;
  padding: 50px 25px;
}
.navbar-nav > li {
  position: static;
  float: none;
}
.navbar-nav > li a {
  display: block;
  padding: 0 10px;
  line-height: 3;
}
.navbar-nav > li a:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  margin-right: 10px;
}
.nav-trigger {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  line-height: 1;
}
/* Main
-------------------------*/
#main {
  margin: 50px auto;
}
.container {
  position: relative;
  left: 0;
  padding: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .container {
    max-width: 75%;
  }
}
.container.move-out {
  left: 160px;
}
.title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.asset-by {
  font-size: 1.5em;
  color: #999999;
}
.asset-url {
  margin-bottom: 10px;
  font-size: 1em;
  font-style: italic;
}
/* Footer
-------------------------*/
#footer {
  padding: 30px 0;
}
/* Elements
-------------------------*/
div[id]:before {
  display: block;
  content: " ";
  margin-top: -10px;
  height: 10px;
}
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 1em;
  opacity: 0;
  text-transform: none;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -2px;
}
.tooltip.right {
  margin-left: 2px;
}
.tooltip.bottom {
  margin-top: 2px;
}
.tooltip.left {
  margin-left: -2px;
}
.tooltip-inner {
  color: #666666;
  background: #fff;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #fff;
}
/* Docs
-------------------------*/
#docs-header {
  padding: 15px 30px;
  background: #f9f9f9;
}
#docs-header .docs-meta {
  margin: 0 0 20px;
}
#docs-header .docs-meta span {
  display: inline-block;
  width: 120px;
  font-weight: bold;
}
